/*
Name: Wordpress Video Gallery
Plugin URI: http://www.apptha.com/category/extension/Wordpress/Video-Gallery
Description: Plugin css file.
Version: 2.3.1.0.1
Author: Apptha
Author URI: http://www.apptha.com
License: GPL2
*/
body{direction: rtl;}
.imgBorder {float: right !important;}
.side_video_info {float: right !important;margin-right: 10px;margin-left: 0 !important;}
.widget .side_video_info .views {float: right !important;}
.video-page-container h2.related-videos {text-align: right !important;}
.tablenav-pages {float: left !important;}
 

