
#wrap
{
  height:80px;
  padding-bottom: 20px;
}
.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    background: #fff;
    border: 0px solid #000;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {


	margin:0 auto;

}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 0px 0px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  430px;
    height: 100px;
    margin-top:2px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  80px;
    height: 70px;
    margin-top:15px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 140px;
    height: 100px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 5px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -5px;
    right: 90px;
    width: 11px;
    height: 80px;
    cursor: pointer;
    background: transparent url('../images/arrow_right.jpg') no-repeat 0 0;
}



.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -5px;
    left :30px;
    margin-left: 20px;
    *margin-left: -35px;
    width: 11px;
    height: 80px;
    cursor: pointer;
    background: transparent url('../images/arrow_left.jpg') no-repeat 0 0;
}


.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    top :5px;
    left: 30px;
    width: 11px;
    height: 80px;
    cursor: pointer;
    background: transparent url('../images/arrow_right.jpg') no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 30px;
    width:11px;
    height: 80px;
    cursor: pointer;
    background: transparent url(../images/arrow_left.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

img {border:0px}
