/*
Name: Wordpress Video Gallery
Plugin URI: http://www.apptha.com/category/extension/Wordpress/Video-Gallery
Description: Plugin css file.
Version: 2.3
Author: Apptha
Author URI: http://www.apptha.com
License: GPL2
*/
 
h1 .videoHname a, h2 .videoHname a, h3 .videoHname a, h4 .videoHname a, h5 .videoHname a, h6 .videoHname a { }
.home-category h5, .home-category h1, .home-category h2, .home-category h3, .home-category h5, .home-category h6{margin: 0 !important; padding: 0 !important;  text-decoration: none !important;}
.paddBotm h5, .paddBotm h1, .paddBotm h2, .paddBotm h3, .paddBotm h5, .paddBotm h6{margin: 0 !important; padding: 0 !important;  text-decoration: none !important;}
.video-cat-thumb h1 a, .video-cat-thumb h2 a, .video-cat-thumb h3 a, .video-cat-thumb h4 a, .video-cat-thumb h5 a, .video-cat-thumb h6 a{text-decoration: none !important;}
.paddBotm h1 a, .paddBotm h2 a, .paddBotm h3 a, .paddBotm h4 a, .paddBotm h5 a, .paddBotm h6 a{text-decoration: none !important;}
.video-block h1 a, .video-block h2 a, .video-block h3 a, .video-block h4 a, .video-block h5 a, .video-block h6 a{text-decoration: none !important;  margin-bottom: 3px !important; float: left;}
.vid_info h6{ overflow: hidden;}
.video-block h5 a{width: 100%;}
.video-block h5 { margin-top: 5px !important;}
.video-block .vid_info .video_views { font-size: 11px !important; float: right;opacity:0.8;filter:alpha(opacity=80); }

.home-category h1 a, .home-category h2 a, .home-category h3 a, .home-category h4 a, .home-category h5 a, .home-category h6 a{margin: 0 !important; padding: 0 !important; text-decoration: none !important;}
.video-cat-thumb h5 a, .video-cat-thumb h6 a{margin: 0 !important; padding: 0 !important; text-decoration: none !important;}
.mediaspace  {margin-bottom: 10px; margin-top: 10px; clear: both;}
.home-category{  margin: 0px 0}
.imgBorder{
display: inline-block;
overflow: hidden;
float: left;
width: 43%;
max-width: 120px;
margin-right: 4%;
position: relative;
}
.imgSidethumb{
display: inline-block;
overflow: hidden;
padding: 2.5% 2.5% 0px;
float: left;
width: 94%;
}
.sideThumb{
    margin-bottom: 10px;
}
.imgHome
{
    width:128px !important;
    height:72px !important;
    cursor: pointer;
 }
.paddBotm{margin-bottom:10px;}
.side_video_info{float: left;width: 50%;}
.side_video_info h6{line-height: 15px;}

.sideThumb
{
padding:5px 0;
width:100% !important;
height: 100% !important;
list-style: none;
}
.video-thumbimg
{
display: inline-block;
font-size: 16px;
position: relative;width: 140px;
float: left;
}
.catmain .video-block:first-child, .feature-video-list .video-block:first-child{padding-left:0;}
.videoName
{
text-align: left;
cursor: pointer;
line-height: 1.2;
float:left;
}
.clear {clear:both;}
.clearfix:after {clear:both;display:block;content:" ";height:0;visibility:hidden;}
.clearfix {display:block;}
* html .clearfix {height:1%;}

.more_title{  margin: 0px 0; }
.videoHname {clear: both;}
#mycarousel .videoHname {float: none;}
.tags
{
float:left;
padding: 1px 0px 1px 0px;
text-align: left;
}
.video-more {float:right;clear:both; width: auto;text-decoration: none;font-size: 12px;font-weight: bold;}
.sidebar-wrap .video-more {font-size: 11px;}
.fb_iframe_widget iframe, .fb_iframe_widget{width:100% !important;}
.fb_iframe_widget span:first-child{width:100% !important;}

.video-socialshare{float:right; height: 22px;}
.video-socialshare li{float:left;margin-left:5px;list-style-image:none !important;list-style:none !important;}
input[type="button"],input[type="submit"]{cursor:pointer}
h4.playlistName {float:left; }                         
.floatleft{float:left}
.fbcomments{padding:10px;background: white}
.duration, .most-duration, .home-duration{line-height: normal !important;}
.right{float: right}
.left{float: left;}
.video-pagination a{margin: 0 5px; text-align: right;}
.video-block a img,
.video-block img {padding: 0 !important; margin: 0 !important; width: 140px !important; max-width: none;height: 90px !important; border:none}
.videoHname, .playlistName{display: block;clear: both;text-decoration: none}
.videoHname {font-size: 12px;font-weight: bold;min-height: 35px;border-width: 0px !important;}
.side_video_info .videoHname {line-height: 15px;}
.video-block a{border-width: 0px !important;}
#videos-category.sidebar-wrap .videoHname {height: auto;}
.sidebar-wrap .views {font-size: 11px;clear: both;display: block;}
.sidebar-wrap { width: 100%;}
.sidebar-wrap ul{margin: 0 !important;padding: 0 !important;} 
.sidebar-wrap ul, 
.sidebar-wrap li{list-style: none; background:  transparent !important;}
.sidebar-wrap .widget-title a{text-decoration: none;}
.playlistName {font-size: 11px;border-width: 0px !important;}
.ulwidget .imgBorder img{width:100%;max-height: 100px;}
.jcarousel-skin-tango{}

.entry-content #mediaspace object{margin-bottom: 0;}
h3.related-videos{margin: 0 !important; padding: 0 !important; text-align: left;}
.related-videos h3{text-align: left; margin: 0; padding: 0;}
.video-page-container{ font-family: helvetica, arial, sans-serif; font-size: 12px; }
.video-page-container .video-page-info strong{width: auto; display: inline-block;  }
.video-page-container strong{width: auto; display: inline-block;}
.video-page-container .video-page-date{width: auto; float: left;width: 50%; }
.video-page-container .video-page-views{ float: right; text-align: right;width: 50%;}
.video-page-container.shortcode .video-page-info{float: left;text-align: left;width: 50%;}
.video-page-container.shortcode .video-page-info.noviews{width: 100%;}
.video-page-container.shortcode .video-page-views {float: left;text-align: left;}
.video-page-container.shortcode .video-page-rating{width: 50%;float: left;}
.video-page-container.shortcode .noviews .video-page-rating{width: 100%;}

.video-page-container.shortcode .video-page-rating .floatleft {float: right;}
.video-page-container.shortcode .video-page-rating .floatleft .rateimgleft{ float: right;}

.video-page-container .video-page-tag{ padding-bottom: 10px; margin-bottom: 5px; clear: both;}
.video-page-container .video-page-category {}
.video-page-info{clear: both; overflow: hidden; padding-bottom: 5px; }
.video-page-info .video-page-rating{float: right; }
.video-page-info .video-page-rating .rateimgleft{float: right; }
.video-page-info .video-page-rating .rateright-views{margin-right: 5px;padding-top: 2px;width: 120px;text-align: right;}
.video-page-info .video-page-category{float: left;width: 49%;}
.player embed{margin: 0 0 10px 0 !important; }
.embed{ padding: 0 10px; border: 1px solid #ccc; text-decoration: none; float: left; }
.embed .embed_text{ float: left;  }
.embed .embed_arrow{ width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #666;  margin-top: 7px; display: block; float: left; margin-left: 5px;}
.video-page-desc{ width: 100%; overflow: hidden; text-align: justify; padding-top: 10px; clear: both;border-top: 1px solid #CCC;margin-top: 10px;}
#embedcode{ padding: 2%; width: 95.5%; font-size: 13px; float: left; height: 90px; margin-top: 5px; }
.video_wrapper h3,
.video_wrapper h5{overflow: hidden;clear: both;}
.video_wrapper h3{margin: 5px 0 !important; }
.video_wrapper h5{margin: 5px 0 !important; }
.video-block-container{ margin: 0 !important; padding: 0 !important;}
.video-block:first-child{ padding-left: 0px !important; margin-left: 0px !important; width: 140px; }
.video-block i{display: none !important}
.video-block .vid_info{}
.video-block
{   line-height: 17px;
    float: none;
    padding-bottom: 25px;
    width:140px;
    min-height: 145px;
    display: inline-block !important;
    vertical-align: top;
    list-style-type: none;
    margin: 0 !important;
}
.video_thumb_content{display: table;}
.video_duration{ position: absolute; right: 0; bottom: 10px; font-size: 10px; background: #000; padding: 0 3px; color: #fff; line-height: 11px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.tablenav-pages{float: right; margin: 1em 0;}
.tablenav-pages a, 
.tablenav-pages span{padding: 0 2px}

h2.related-videos{ text-align: left !important; margin: 20px 0 0 !important;  }
#disqus_thread{ margin-top: 20px;}

#featured-videos .sidebar-wrap li{background: transparent;padding: 0;}
.widget .video_duration {clear: both; float: none; display: block; float: right; position: absolute;
right: 0px;
bottom: 10px;}
.widget .side_video_info h6{ padding-bottom: 5px; margin: 0;}
.widget .side_video_info h6 a{ text-decoration: none;}
.widget .side_video_info .views{ float: left;   font-size: 11px;}

.widget #featured-videos ul, 
.widget #recent-videos ul,
.widget #related-videos ul,
.widget #videos-category ul,
.widget #popular-videos ul {list-style: none !important; padding: 0 !important; margin: 0 !important; background: transparent;}
.widget #featured-videos ul li, 
.widget #recent-videos ul li,
.widget #related-videos ul li,
.widget #videos-category ul,
.widget #popular-videos ul li {background: transparent;padding: 0;}

.flike{width: 85px;}
.ttweet{width: 66px}
.video-socialshare .gplusshare{margin-left: 3px;}
.fbshare {
background: url(../images/fb_share_button.png) no-repeat;
display: block;
width: 57px;
height: 20px;
}
.videoplayer_title{clear:both;}

.jcarousel-skin-tango #mycarousel li .imgSidethumb img{width: 120px; height: 90px;cursor: pointer;}

/***************************** Banner   **/

#featured{height: 330px;
/*overflow: hidden;*/
}
#gallery_banner_video{float: right; width:70%;}
#gallery_banner_list{float: left; width: 30%;}
#gallery_banner_list ul{padding: 0; margin: 0; list-style: none; background: transparent !important;}
#gallery_banner_list ul li{list-style: none; margin: 0;
/*background: transparent !important;*/
clear: both;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

overflow: hidden;
padding: 5px 5px 6px;
}
#gallery_banner_list ul li{margin-bottom: 1px;}
#gallery_banner_list ul li.ui-tabs-selected{background: #f2f0f0; border: 1px solid #ccc; border-right-width: 0px; }
#gallery_banner_list ul li{border: 1px solid #dfdfdf;border-right-width: 0px;}
#gallery_banner_list ul li:hover{background: #dfdfdf;}
#gallery_banner_list ul li .nav_container{}
#gallery_banner_list ul li .nav_container .page-thumb-img{float: left;
width: 80px;
margin-right: 5px;}
#gallery_banner_list ul li .nav_container .slide_video_info .category{color:#000;}
#gallery_banner_list ul li .nav_container .slide_video_info{float: left;
line-height: 16px;
font-size: 12px;
width: 99px;
}

@media screen and (max-width: 800px){
    .player embed{width: 100% !important; height: auto;}
    .player object{width: 100% !important; height: auto;}
    #player, .player{width: 100% !important; height: auto;}
    .player iframe{width: 100% !important;  height: auto;}
    #player iframe{width: 100% !important;  height: auto;}
    #player #video{width: 100% !important;  height: auto;}
    #htmlplayer #video{width: 100% !important; height: auto; }
}
@media screen and (max-width: 600px){
/*    .videogallery,
    .type-videogallery{width: 100% !important;}*/
    .player embed{width: 100% !important; height: auto;}
    .player object{width: 100% !important; height: auto;}
    #player, .player{width: 100% !important; height: auto;}
    .player iframe{width: 100% !important;  height: auto;}
    #player iframe{width: 100% !important;  height: auto;}
    #player #video{width: 100% !important;  height: auto;}
    #htmlplayer #video{width: 100% !important; height: auto; }
 
    #container .video-block {margin: 0 15px 10px !important; min-height: 145px;}
    .video-block-container .video-block {margin: 0 15px 0px !important; min-height: 145px;}
    .video-block:first-child {margin: 0 15px 0px !important; }
    .sidebar-wrap .imgBorder {width: 120px;}
}

/*Rating css*/
.ratethis{ background: url(../images/stars831-thump.png) no-repeat 0 0; width:100px;height:20px;margin:5px 5px 5px 5px;clear:both;position:relative;list-style:none;}
#rateid ul.ratethis{list-style:none;}
.nopos {background-position:0 0}
.onepos {background-position:0 -20px}
.twopos {background-position:0 -40px}
.threepos {background-position:0 -60px}
.fourpos {background-position:0 -80px}
.fivepos {background-position:0 -100px}
#rateimg ul.ratethis li { text-indent:-999em;cursor: pointer;float:left;list-style:none;}
#rateimg .ratethis{margin: 0px;
padding: 0px !important;
         /*margin-right: 10px;*/
}
.callout-header-home h2{margin-bottom:5px;font-size:15px;}
h2.hoverable a{font-size:18px;}
h2.hoverable a:hover{background:none;}
/*.gr h2 {border-bottom:1px solid #C3C3C3;padding-bottom:5px;}*/
ul.ratethis li a { position:absolute;left:0;top:0;width:20px;height:20px;text-decoration:none;z-index: 200;}
ul.ratethis li.one a {left:0}
ul.ratethis li.two a {left:20px;}
ul.ratethis li.three a {left:40px;}
ul.ratethis li.four a {left:60px;}
ul.ratethis li.five a {left:80px;}
ul.ratethis li a:hover { background: url(../images/stars831-thump.png) no-repeat 0 0;z-index:2;width:100px;height:20px;overflow:hidden;left:0;}
ul.ratethis li.one a:hover {background-position:0 -120px;}
ul.ratethis li.two a:hover {background-position:0 -140px;}
ul.ratethis li.three a:hover {background-position:0 -160px;}
ul.ratethis li.four a:hover {background-position:0 -180px;}
ul.ratethis li.five a:hover {background-position:0 -200px;}

.player_related_video {
clear: both;
}
.video-socialshare iframe{margin: 0 !important;}

.ratethis1{ background: url(../images/stars831.png) no-repeat !important;width:60px;height:12px;clear:both;position:relative;list-style:none;float:left;margin: 4px 0;}
ul.ratethis1 li {cursor: pointer;float:left;}
.nopos1 {background-position:0 0 !important;}
.onepos1 {background-position:0 -12px !important;}
.twopos1 {background-position:0 -24px !important;}
.threepos1 {background-position:0 -36px !important;}
.fourpos1 {background-position:0 -48px !important;}
.fivepos1 {background-position:0 -60px !important;}