<?xml version="1.0" encoding="utf-8"?>
<config 
license="Key provided for commercial version"
stagecolor="0x000000" 
autoplay="true" 
buffer="3"
Volume="50" 
fullscreenscale="0" 
normalscale="0" 
logopath="hdflvplayer/images/platoon.png"
logoalpha="50" 
logoalign="TR" 
Download="false"
logo_target="http://www.hdflvplayer.net/"
skin="http://localhost/wordpress/wp-content/plugins/contus-hd-flv-player.1.2/hdflvplayer/skin/skin_black/skin_black.swf"
skin_autohide="false"
language = "English"
playlistXML="http://localhost/wordpress/wp-content/plugins/contus-hd-flv-player.1.2/hdflvplayer/xml/playlist.xml"
playlist_open="false" 
showPlaylist ="true"
HD_default="false" 
vast="false"
vast_partnerid=""
streamer=""
embed_visible="true"
UseYouTubeApi="flash"
debug="true">
<timer>true</timer>
<zoom>true</zoom>
<email>true</email>
<fullscreen>true</fullscreen>
</config>